<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />

    <title>Team</title>

    <link type="image/png" rel="shortcut icon" href="favicon.png" />
    <link type="image/png" rel="icon" href="favicon.png" />
  </head>

  <body>
    <div id="app"><%- reactOutput %></div>

    <script src="node_modules/react/dist/react.js"></script>
    <script src="node_modules/react-dom/dist/react-dom.js"></script>

    <script src="build.js"></script>
  </body>
</html>
